* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

.header h1 {
  color: rgb(255, 255, 255);
}

.trybewarts-header-logo {
  /* width: 70px; */
  justify-content: flex-start;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  float: right;
}

#input-name {
  width: 50px;
  align-self: inline-block;
}

#input-lastname {
  width: 50px;
  align-self: inline-block;
}

#input-email {
  display: inline;
}

.subject {
  display: inline-block;
}

#family {
  display: flex;
}
